# PlatformIO
.pio
.pioenvs
.piolibdeps
.piolib
.pio/build
.pio/unity_tests
.pio/test

# IDE
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app 